<br>
<h2>Employees data from API</h2>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Name</th>
            <th scope="col">Salary</th>
            <th scope="col">Age</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{employee2.id}}</td>
            <td>{{employee2.employee_name}}</td>
            <td>{{employee2.employee_salary}}</td>
            <td>{{employee2.employee_age}}</td>
        </tr>
    </tbody>
</table>