
<!-- <div>
    <h2>without observable</h2>
    <h4>Product info component</h4>
    Name : {{ queryparams.productName }}<br />
    Description : {{ queryparams.productDescription }}<br />
    Price : {{ queryparams.productPrice }}<br />
    <img [src]="queryparams.productImage">
</div> -->

<div>
    Name : {{ productDetails.productName }}<br />
    Description : {{ productDetails.productDescription }}<br />
    Price : {{ productDetails.productPrice }}<br />
    <img [src]="productDetails.productImage">
</div>